/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)
 */
body {
	padding-top: 54px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
		margin-top: 20px;
	}
}

.portfolio-item {
	margin-bottom: 30px;
}

.pagination {
	margin-bottom: 30px;
}

.footer-demodule {
	margin-top: 15px;
}

.demo {
	margin-top: 15px;
}

footer span {
	color: white;
}

.btn-block {
	width: 100%;
	font-size: 14px;
}

.container1 {
	padding-top: 80px;
}

.titre1 {
	text-align: center;
}

.button1 {
	display: block;
	margin: auto;
	width: 12%;
}

.listevente {
	border: 2px solid black;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.rowclass {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.rowclass2 {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.rowclass3 {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.liarticle {
	margin-left: auto;
	margin-right: auto;
	width: 15em;
	text-align: center;
}

.form-group-index {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.inputsize {
	width: 33%;
	height: 35px;
}

.buttonsize {
	width: 33%;
	height: 70px;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
}
.h6index{
margin-right: 20px;	
}

.cbconnected{
	max-height: 40px;
}

.radio{
	margin-top: 10px;
}

.radiolabel{
	border-style: none;
	max-width: 50%;
}

.table1{
	width: 30%;
	margin: auto;
}

.titre2 {
	text-align: center;
	margin-top: 40px;
}
.container2 {
	padding-top: 80px;
	text-align: center;
}
.boutonmodifierprofil {
	width: 150px;
	border-style: solid black 2px;
	border: thick;
}
.mdpActuel {
	width: 50.8%;
}
